#famous-players-background-container {
  padding: 53px;
  margin: 0;
  background-color: #c4dce0;

  box-shadow: 0px 0px 80px 40px rgba(237, 237, 237, 2) inset;
  background: linear-gradient(rgba(206, 205, 205, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/clubs-container-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#heading-of-famous-players {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
  font-family: "Luckiest Guy", sans-serif, serif, "Times New Roman", Times;
  text-shadow: 5px 5px 8px whitesmoke;
}
#famous-players-card {
  border: solid 0.5px #3d7c47;
  height: 100%;
  border-radius: 0px;
  box-shadow: 0px 0px 80px 40px rgba(246, 245, 245, 0.2);
}

#famous-players-card-body {
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: #daf4f5;
}

#famous-players-card-body:hover {
  box-shadow: 0px 0px 35px 5px rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

#famous-players-card-body > img {
  height: 330px;
  flex-shrink: 0;
  border-radius: 0px;
}

#famous-players-card-body-title {
  margin-top: 8px;
  align-self: center;
  font-weight: 600;
  padding: 10px;
}

#famous-players-card-body > p {
  margin-right: 10px;
  padding-left: 10px;
  margin: 10px;
  padding: 10px;
  line-height: 30px;
  height: 100%;
}

#famous-players-card-body > p > span {
  font-weight: bold;
}

#famous-players-card-body > button {
  align-self: center;
  margin-bottom: 20px;
}
